"1x/1 - Banco do Carona.mp4" filter=lfs diff=lfs merge=lfs -text
"1x/2 - Patek.mp4" filter=lfs diff=lfs merge=lfs -text
"1x/3 - Velar.mp4" filter=lfs diff=lfs merge=lfs -text
"1x/4 - Envolvido.mp4" filter=lfs diff=lfs merge=lfs -text
"1x/5 - Aquariana.mp4" filter=lfs diff=lfs merge=lfs -text
"1x/6 - Rockstar 3.mp4" filter=lfs diff=lfs merge=lfs -text
